.plainPaper {
  border-radius: 10px;
  padding: 0.9rem;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0px 20px 80px #00000011;
}

.newContainer {
  font-size: 0.7rem;
  padding: 20px !important;
}
.headerTitle {
  font-size: 15px;
  display: flex !important;
  justify-content: space-between !important;
}
.addTask {
  color: white !important;
  background-color: #5f63f2 !important;
  padding: 8px 20px !important;
  border-radius: 5px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  margin-right: 15px !important;
}
.kycContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
}
.kycContainer1 {
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
  margin-top: 5% !important;
}
.title {
  color: #000000;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 2px;
}
.gaps {
  margin-bottom: 1.3rem;
}
.card_badges {
  margin-top: 5px !important;
}
.card_badges img {
  float: left !important;
  margin-right: 10px !important;
  border: none !important;
  height: 50px !important;
  width: 50px !important;
  border-radius: 50px !important;
}
.card_badges p {
  float: right !important;
}
.action_button {
  color: #ee0101 !important;
  text-decoration: underline !important;
  margin-top: 10px !important;
}
