.plain{
    border-radius: 10px;
    padding: 1.2rem 1.2rem;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 8px rgb(0 0 0 / 15%);
}

.name{
    font-size: 1.1rem;
    font-weight: 600;
}

.mobileFlex{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

.mob{
    font-size: 0.8rem;
    margin-left: 10px;
}

.cases{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.7rem;
    padding-top: 10px;
}

.prev{
    color: #0f49a0;
    text-decoration: underline;
    cursor: pointer;
}

.assign{
    font-weight: 600;
}

.assignedTo{
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.assignee{
    margin-left: 10px;
}
